@import "../variable/variable";
@import "../mixin/font";

// .products {
//   margin-top: -20px;

//   .products-bg {
//     padding-top: 80px;
//     padding-bottom: 80px;
//     background-color: #f6f6f6;

//     .products-item {
//       border-radius: 10px;
//       background-color: $white;
//       padding: 20px;
//       margin: 0 12px;
//       box-shadow: 0px 0px 10px rgba(7, 36, 95, 0.08);

//       .product-image {
//         width: 185px;
//         margin: 0 auto;
//         height: 130px;

//         img {
//           height: 100%;
//           width: 100%;
//           object-fit: contain;
//           object-position: center;
//         }
//       }

//       .product-text {
//         margin-top: 20px;

//         h4 {
//           @include font(16px, 500);
//           text-transform: capitalize;
//           background-color: #f2f2f2;
//           padding: 12px 12px;
//           transition: all linear .2s;
//           border-radius: 5px;
//         }
//       }

//       &:hover {
//         h4 {
//           background-color: $themeColor;
//           color: $white;
//         }
//       }
//     }
//   }
// }

// .products-slider {
//   .slick-list {
//     padding: 10px 0;
//   }

//   .arrow {
//     width: 40px;
//     height: 40px;
//     background-color: #ffffff;
//     text-align: center;
//     line-height: 40px;
//     box-shadow: 0px 0px 10px rgba(7, 36, 95, 0.1);
//     font-size: 17px;
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 9;
//     transition: all linear .2s;
//     border-radius: 50%;
//     border: 1px solid $black;
//     color: $black;

//     &:hover {
//       background-color: $themeColor;
//       color: $white;
//       border-color: $themeColor;
//     }
//   }

//   .left {
//     left: -40px;
//   }

//   .right {
//     right: -40px;
//   }
// }



.clients {
  margin-top: -20px;

  .clients-bg {
    padding-top: 80px;

    // padding-bottom: 80px;
    .client-slider {
      a {
        // background-color: red;
        padding: 30px;
        height: 184px;
        display: flex;

        img {
          object-fit: contain;
          transition: all 0.3s ease 0s;
        }

        &:hover {
          img {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

// .carousel {
//   position: relative;
//   overflow: hidden;
// }

// .carousel__slider {
//   position: relative;
//   display: flex;
//   align-items: center;
//   height: 148px;
// }

// .carousel__list {
//   position: absolute;
//   width: 100%;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

// .carousel__item {
//   padding: 40px;

//   img {
//     transition: all 0.3s ease 0s;
//   }

//   &:hover {
//     img {
//       transform: scale(1.5);
//     }
//   }
// }


// @keyframes slide {
//   from {
//     transform: translateX(0);
//   }

//   to {
//     transform: translateX(-100%);
//   }
// }

// .logos {
//   overflow: hidden;
//   white-space: nowrap;
//   position: relative;

//   &::before,
//   &::after {
//     position: absolute;
//     top: 0;
//     width: 250px;
//     height: 200px;
//     content: "";
//     z-index: 2;
//   }

//   &::before {
//     left: 0;
//     background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
//   }

//   &::after {
//     right: 0;
//     background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
//   }
// }

// .logos:hover .logos-slide {
//   animation-play-state: paused;
// }

// .logos-slide {
//   display: inline-block;
//   animation: 35s slide infinite linear;
//   // animation-play-state: paused;

//   .slide-item {
//     width: 16%;
//     display: inline-block;
//     padding: 30px;
//   }
// }