@import "../variable/variable";
@import "../mixin/font";


.content-page {
  padding-top: 60px;
  margin-bottom: 60px;

  .content-main {
    background-color: #f2f2f2;
    padding: 40px;

    h1 {
      @include font(32px, 700);
      margin-bottom: 40px;
      position: relative;
      padding: 15px 0;
      z-index: 1;
      padding-left: 24px;


      &::before {
        width: 360px;
        height: 100%;
        background-image: linear-gradient(to right, rgba(244, 70, 47, 0.4), #fff);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: "";
        z-index: -1;
      }
    }

    .content-box {
      .small-image {
        float: left;
        margin-right: 24px;

        img {
          border-radius: 10px;
        }
      }

      p+p {
        margin-top: 24px;
      }
    }

    p {
      text-align: justify;
    }
  }

  .mid-text {
    padding: 28px 80px 28px 100px;
    background-color: $white;
    border-bottom: 3px solid $themeColor;
    position: relative;
  }

  .mid-text h4 {
    font-size: 28px;
    font-weight: 600;
    color: #666666;
    line-height: 40px;
  }

  .mid-text i {
    color: $themeColor;
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top: 26px;
    left: 45px;
  }
}

.content-ul {
  padding-left: 12px;

  li {
    line-height: 30px;
  }
}

.custom-content-ul {
  list-style: none;

  li {
    line-height: 36px;

    img {
      margin-right: 5px;
    }
  }
}

.custom-ul-inline-style {
  list-style: none;

  li {
    display: inline-block;
    padding: 4px 20px;
    border-radius: 3px;
    background-color: $themeColor;
    margin-right: 8px;
    color: $white;
    margin-bottom: 10px;
    @include font(15px, 600);
  }

  li:nth-child(2) {
    background-color: #6528F7;
  }

  li:nth-child(3) {
    background-color: #F31559;
  }

  li:nth-child(4) {
    background-color: #1D5D9B;
  }

  li:nth-child(5) {
    background-color: #EF6262;
  }

  li:nth-child(6) {
    background-color: #9376E0;
  }

  li:nth-child(7) {
    background-color: #40128B;
  }

  li:nth-child(8) {
    background-color: #EA906C;
  }

  li:nth-child(9) {
    background-color: #A0C49D;
  }

  li:nth-child(10) {
    background-color: #E966A0;
  }

  li:nth-child(11) {
    background-color: #525FE1;
  }

  li:nth-child(12) {
    background-color: #4C4B16;
  }
}

.custom-ul-block-style {
  list-style: none;

  li {
    display: inline-block;
    width: 100%;
    padding: 4px 20px;
    border-radius: 3px;
    background-color: $themeColor;
    margin-right: 8px;
    color: $white;
    margin-bottom: 10px;
    @include font(15px, 600);
  }

  li:nth-child(2) {
    background-color: #11009E;
  }

  li:nth-child(3) {
    background-color: #F31559;
  }

  li:nth-child(4) {
    background-color: #116D6E;
  }

  li:nth-child(5) {
    background-color: #EF6262;
  }

  li:nth-child(6) {
    background-color: #9376E0;
  }

  li:nth-child(7) {
    background-color: #40128B;
  }

  li:nth-child(8) {
    background-color: #EA906C;
  }

  li:nth-child(9) {
    background-color: #A0C49D;
  }

  li:nth-child(10) {
    background-color: #E966A0;
  }

  li:nth-child(11) {
    background-color: #525FE1;
  }

  li:nth-child(12) {
    background-color: #4C4B16;
  }
}

.content-background-style {
  background-color: $themeColor;
  @include font(16px, 700);
  color: $white;
  padding: 8px;
  border-radius: 3px;
}

.content-border-style {
  border-bottom: 1px solid $black;
  padding-bottom: 10px;
  color: $black;
}

.content-after-border-style {
  position: relative;
  padding-bottom: 10px;
  color: $black;

  &::before {
    width: 100px;
    height: 2px;
    background-color: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
  }
}

.content-border-dash-style {
  border: 2px dashed $black;
  @include font(16px, 600);
  color: $black;
  padding: 6px 10px;
}

.content-border-dots-style {
  border: 2px dotted $black;
  @include font(16px, 600);
  color: $black;
  padding: 6px 10px;
}

.content-table {
  .action {
    background-color: $themeColor;
    border: 0;
    padding: 5px 10px;
    color: $white;
  }
}