@import "../variable/variable";
@import "../mixin/font";

.pagination {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.pagination ul li {
  display: inline-block;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
}

.pagination ul li.arrow {
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0 6px;
}

.pagination ul li.arrow a {
  color: $black;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  transition: all linear .2s;

  i {
    font-size: 14px;
  }

  &:hover {
    background-color: $themeColor;
    color: $white;
  }
}

.pagination ul li.arrow:last-child {
  margin-right: 0;
}

.pagination ul li.mid-pagi {
  padding: 0 20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
}

.pagination ul li.mid-pagi a {
  margin: 0 10px;
  color: #232323;
}

.pagination ul li.mid-pagi a.active {
  width: 25px;
  height: 25px;
  background-color: $themeColor;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  color: $white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}